extends ../layout 

block content
    form(action="/item/create", method="post")
        label(for="fname") name: 
        input#fname(type="text" name="name")
        label(for="fdescription") description: 
        input#fdescription(type="text" name="description")
        label(for="fprice") price: 
        input#fprice(type="text" name="price")
        label(for="fstock") stock: 
        input#fstock(type="number" min=0 name="stock")
        for category in category
            div(style='display: inline; padding-right:10px;')
            input.checkbox-input(type='checkbox', name='category', id=category._id, value=category._id, checked=category.checked )
            label(for=category._id) #{category.name}  
        button(type="submit") submit
    if errors
        ul
            for error in errors
                li= error.msg

